<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binbin.activity" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignActivity"
            android:label="@string/title_activity_sign" >
        </activity>
        <activity
            android:name=".resetpassword.RsetPassword"
            android:label="@string/title_activity_rset_password" >
        </activity>
        <activity
            android:name=".resetpassword.CheckRsetPassword"
            android:label="@string/title_activity_check_rset_password" >
        </activity>
        <activity
            android:name=".resetpassword.GetRsetPassword"
            android:label="@string/title_activity_get_rset_password" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".transfer_accounts.TransferAccount"
            android:label="@string/title_activity_transfer_account" >
        </activity>
        <activity
            android:name=".transfer_accounts.TransferAmount"
            android:label="@string/title_activity_transfer_amount" >
        </activity>
        <activity
            android:name=".balance.ChargeMoney"
            android:label="@string/title_activity_account_balance" >
        </activity>
        <activity
            android:name=".balance.AccountBalance"
            android:label="@string/title_activity_account_balance" >
        </activity>
        <activity
            android:name=".balance.Withdraw"
            android:label="@string/title_activity_withdraw" >
        </activity>
        <activity
            android:name=".bindwechat.WeChatInfoActivity"
            android:label="@string/title_activity_we_chat_info" >
        </activity>
        <activity android:name=".InfoAccountActivity"
            android:label="Info">
        </activity>
        <activity android:name=".InfoUserActivity"
            android:label="Info">
        </activity>
        <activity android:name=".changephone.InfoPhoneActivity"
            android:label="Info">
        </activity>
        <activity android:name=".changephone.PhoneNumChangeFirstStepActivity"
            android:label="Info">
        </activity>
        <activity android:name=".changephone.PhoneNumChangeSecondStepActivity"
            android:label="Info">
        </activity>
        <activity android:name=".bindwechat.BindWechatPayFirstStepActivity"
            android:label="Info">
        </activity>
        <activity android:name=".bindwechat.BindWechatPaySecondStepActivity"
            android:label="Info">
        </activity>
        <activity android:name=".bindwechat.BindWechatPayThirdStepActivity"
            android:label="Info">
        </activity>
    </application>

</manifest>
